<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>Application process II</title>
    </head>
    <body>
        <header>
            <a href="/"><h1>Application process</h1></a>
            <h2>- SQL - level 2</h2>
        </header>
        
        {% block content %}{% endblock %}
        
        <aside>
        <h3>Level 2 queries</h3>
        <ol> 
            <li><a href="/mentors">Mentors and schools</a></li>
            <li><a href="/all_school">All school</a></li>
            <li><a href="/mentors_by_country">Mentors by country</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/applicants">Applicants after 2016</a></li>
            <li><a href="/applicants_and_mentors">Applicants and mentors</a></li>
        </ol>
        <h3>Level 1 queries</h3>
        <ol> 
            <li><a href="/mentors_full_name">Mentors full name</a></li>
            <li><a href="/mentors_nick_from_miskolc">Nick names of mentors from Miskolc</a></li>
            <li><a href="/carols_number">Carol's number</a></li>
            <li><a href="/hat_owner">Hat owner's number</a></li>
            <li><a href="/add_markus">Add Markus</a></li>
            <li><a href="/jemimas_new_number">Jemimas' new number</a></li>
            <li><a href="/mauriseu_guys_leaving">Mauriseu guys leaving</a></li>
        </ol>
        <h3>Extra feautres</h3>
        <ol> 
            <li><a href="/reset">Reset database</a></li>
        </ol>
        </aside>
    </body>
</html>

                