{% extends "base.html" %}
{% block content %}
<section>
    {% if message %}
        {{ message }}
    {% else %}    
        <table border="1">
            <tr>
                {% for key in key_order%}
                <th>{{ key_aliases[key] }}</th>
                {% endfor %}
            </tr>
            {%for element in result%}
            <tr>
                {%for key in key_order%}
                <td> {{ element[key] }}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
    {% endif %}
</section>
{% endblock %}